# Environment variables
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# Vite build files
Frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database dump
expense_trekker.sql